<form>
  <h1 id="tableLabel">Games Catalog Update</h1>

  <br>
  <p *ngIf="!resultCatalogData"><em>Loading...</em></p>

  <div class="form-group" *ngIf="resultCatalogData">
    <input type="hidden" name="catalogId" [value]="resultCatalogData.catalogId"/>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="resultCatalogData">
      <tbody>
        <tr>
          <td><label>Title</label></td>
          <td><input type="text" class="from-control form-control-sm" placeholder="Game Title" 
            [(ngModel)]="resultCatalogData.title" name="gameTitle" maxlength="50"></td>
        </tr>

        <tr>
          <td><label>Genre</label></td>
          <td>
            <select name="genres"  class="from-control form-control-sm">
              <option *ngFor="let genre of genraData" [ngValue] = "genre.id" [selected] = genre.selected>
                {{genre.title}}
              </option>
            </select>
          </td>
        </tr>
 
        <tr>
          <td><label>Produced by</label></td>
          <td>
            <select name="developers"  class="from-control form-control-sm">
              <option *ngFor="let developer of devloperData" [ngValue] = "developer.id" [selected] = developer.selected>
                {{developer.companyName}}
              </option>
            </select>
          </td>
        </tr>

        <tr>
          <td><label>Release Date</label></td>
            <td><input type="date" class="from-control form-control-sm" placeholder="yyyy-MM-dd" 
              name = "releaseDate"
              [ngModel]="resultCatalogData.releaseDate | date:'yyyy-MM-dd'"
              (ngModelChange) = 'resultCatalogData.releaseDate = $event'/>
            </td>
        </tr>

        <tr>
          <td><label>Rate</label></td>
            <td><input type="number" class="from-control form-control-sm" placeholder="1-5" 
              [(ngModel)]="resultCatalogData.rate" name="rate"  min="1" max="5" onkeydown="return false"/>
            </td>
        </tr>

        <tr>
          <td><label>Price</label></td>
            <td><input type="number" class="from-control form-control-sm" placeholder=".01-99.99" 
              [(ngModel)]="resultCatalogData.price" name="price"  min="0" step="10"/>
            </td>
        </tr>

      </tbody>
    </table>
  <br/>

  <div *ngIf = "resultCatalogData.title.length > 0">
    <button class="btn btn-primary">Update</button>
  </div>
</div>
</form>